doctype html
html
  head
    title Заголовок
    link(href="css/main.css" rel="stylesheet")
  body
    h1 Команда
    .council
        .council-card
            .council-card-avatar
                img.img(src="https://randomuser.me/api/portraits/men/64.jpg" alt="")
            .council-card-descr-name Иван Петров
            .council-card-descr-position студент